# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.json text
*.yml text
*.yaml text

# Source code
*.js text
*.ts text
*.html text
*.css text
*.scss text

# Package files
package.json text
package-lock.json text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary 