<div class="landing-container">
  <h1>Welcome to Nirmiti Hackathon</h1>
  
  <div class="countdown-container" *ngIf="!showResults">
    <h2>Results will be revealed in:</h2>
    <div class="countdown">{{ countdown }}</div>
  </div>

  <div class="button-container">
    <a routerLink="/hackathon-results" class="cta-button">View Results</a>
    <a href="https://chat.whatsapp.com/IPzP43WzGQ5K1GrFMyHSER" target="_blank" class="whatsapp-button">
      <i class="fab fa-whatsapp"></i> Join Community
    </a>
  </div>
</div> 